/* ---------------------------------------------------
    MAIN STYLE
----------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

html, body, .wrapper {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background: #fafafa;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1 0 auto;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }
    .btn-menu {
        display: none;
    }
}

.dropdown-toggle::after {
    margin-bottom: -2px;
}

.navbar-brand {
    padding-left: 0.5rem;
}

.navbar-brand img {
    height: 1.5rem;
    margin-top: -7px;
}

.navbar-brand span {
    font-weight: 900;
    font-size: 1.25rem;
    color: #212529;
    margin-left: 4px;
    letter-spacing: 0.25px;
}

.banner {
    width: 100%;
    height: 500px;
}

.banner-wrapper {
    position: relative;
    text-align: center;
    color: #fff;
}

.banner-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 12px rgba(0,0,0,0.8);
    font-size: 3rem;
    white-space: nowrap;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #00CECE;
    margin: 40px 0;
}

/* ---------------------------------------------------
    BUTTON STYLES
----------------------------------------------------- */
/* Remove blue outline around buttons */
.btn:focus {
    box-shadow: none;
    outline: 0;
}

/* Button: Navigation Links */
.btn-menu {
    background-color: transparent;
    padding: .375rem .5rem;
    color: #5a6570;
}

.btn-menu .fa-bars {
    margin-right: 2px;
}

.btn-menu:hover,
.nav-link:hover {
    color: #00A8A8 !important;
}

.primary-nav-link,
.primary-nav-link:focus {
    color: #5a6570;
}

.primary-nav-link:hover {
    color: #00A8A8;
}

/* Button: Outline (Primary Palette) */
.primary-btn-outline {
    background: transparent;
    color: #00A8A8;
    border: 1px solid #00A8A8;
}

.primary-btn-outline:hover {
    background: #00A8A8;
    color: #fff;
}

/* Button: Primary Button (Primary Palette) */
.primary-btn {
    background: #00A8A8;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.1rem;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,122,122,0.5);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0,122,122,0.5);
    box-shadow: 0px 4px 8px 0px rgba(0,122,122,0.5);
    
}

.primary-btn:hover {
    background: #00c7c7;
}

.primary-btn:active {
    background: #008989;
}

/* Button: Icon Outline (Primary Palette) */
.btn-circle-primary {
    border: 1.5px solid #00A8A8;
    color: #00A8A8;
    width: 30px;
    height: 30px;
    padding: 5px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    margin-bottom: 0.7rem;
}

.btn-circle-primary:hover {
    background-color: #00A8A8;
    color: #fff;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100vh;
    z-index: 999;
    background: #324047;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    right: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #009e9e;
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #00A8A8;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #00A8A8;
}

.sidebar-header h3 {
    margin-bottom: 2px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px 20px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul.components li a:hover {
    color: #00A8A8;
    background: #fff;
}

#sidebar ul.components li.active>a {
    color: #fff;
    background: #475b65;
}

a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1d2529;
}

a[aria-expanded="false"] .fa-angle-right {
    transform: rotate(0deg);
    transition: transform 0.2s linear;
}
  
a[aria-expanded="true"] .fa-angle-right {
    transform: rotate(90deg);
    transition: transform 0.2s linear;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

ul.CTAs a.primary-btn {
    font-size: 0.9em !important;
    background: #00A8A8;
    color: #fff;
}

ul.CTAs a.primary-btn:hover {
    background: #007070;
}

ul.CTAs a.primary-btn:active {
    box-shadow: 0 0 0 0.2rem rgba(0,206,206,.4);
}

ul.CTAs a.primary-btn:focus,
ul.CTAs a.secondary-btn:focus {
    outline: 0;
}

ul.CTAs a.secondary-btn {
    font-size: 0.9em !important;
    background: #fafafa;
    color: #00A8A8;
    font-weight: bold;
    letter-spacing: 0.5px;
}

ul.CTAs a.secondary-btn:hover {
    background: #007070;
    color: #fff;
}

ul.CTAs a.secondary-btn:active {
    box-shadow: 0 0 0 0.2rem rgba(0,206,206,.4);
}

/* ---------------------------------------------------
    404 STYLE
----------------------------------------------------- */
@media screen and (max-width: 991px) {
    .img-404 {
        max-width: 90%;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .img-404 {
        height: 70vh;
        margin-bottom: 2rem;
    }
}

/* ---------------------------------------------------
    FOOTER STYLE
----------------------------------------------------- */
footer {
    height: 60px;
    display: flex;
    flex-shrink: 0;
    color: #fff;
    background-color: #273238;
}

footer .container,
footer .container .row {
    height: 100%;
    width: 100%;
}

footer .container {
    display: flex;
}

footer .container .row {
    align-items: center;
}

footer .container .row:first-child {
    line-height: 15px;
}

footer a:hover,
footer a:active {
    color: #00A8A8;
}

footer .footer-icons {
    white-space: nowrap;
}

footer .footer-icons a {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}